
*{ margin: 0%;

}


body {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        height: 100vh;
        width: 100vw;
        display: flex ;
        align-items: center;
        justify-content: center;
}

.container {

        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

}

.box { 
        width: 160px;
        height: 20px;
        border: 3px solid black;
       
}

.box_loading{
        height: 100%;
        width: 100%;
        animation: loading 2s  ;
        background-color: rgb(227, 129, 240);

}


@keyframes loading {
        0%{
               
                width: 0;
        }
        100%{
                
                width: 160px;
        }
}

h1.p {
        font-weight: 900;
}